/* * {
box-sizing: border-box;
} 
No need to include this when building off of Bootstrap. Bootstrap's reset does this by default
*/



body {
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/sativa.png");
    padding: 0 10px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navBar{
    background-color: #ffffff;
    margin: 0 -10px;
}

.navContainer {
    max-width: 960px;
    Padding: 0;
}

.navBar h1{
    margin-top:0;
    text-align: center;
    color: #fff;
    padding-top: 1rem;
}

.navBar li {
    display: inline-block;
    list-style-type: none;
    border-right: 1px solid grey;
    padding: 0 2rem;
    margin-top: 2rem;
}

.navBar li:last-child {
    border-right: none;
    padding-right: none;
}

.navLeft {
    padding: 0;
}

.navRight {
    text-align: center;
    Padding: 0;
}

.logo {
    background-color: #4aaaa5;
    width: 100%;
    height: 100%
}

.contentContainer {
    max-width: 960px;
    padding: 0;
}

.content{
    margin: 30px 0 125px 0;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}

.content h1 {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 2px solid #777777;
}

.content img {
    float: left;
    margin: 0 15px 15px 0;
}

footer{
    /* position: fixed;
    bottom: 0px; */
    width: 100%;
    /* margin: 0 -10px; */
    background-color: #666666;
    padding: 20px 0 10px 0;
    text-align: center;
    color: #CCCCCC;
    z-index: 3;
}

.col-md-6.grid-imgContainer{
    position: relative;
    padding: 0;
    width: 330px;
    height: 240px;
    margin-bottom: 25px;
}

/* Unexpected behavior: I thought by using the elements below "col.grid..." seperately that they would act differently at the different screen size but they don't. I wanted to ask about that. */

            .col-xs-12.grid-imgContainer:nth-child(even){
                padding: 0;
                margin-left: 0;
                margin-bottom: 25px;
                /* width: 385px;
                height: 275px; */
            }
            .col-md-6.grid-imgContainer:nth-child(even){
                padding: 0;
                margin-left: 28px;
                margin-bottom: 25px;
                width: 330px;
                height: 240px;
            }


label.grid-imgLabel {
    position: absolute;
    z-index: 10;
    bottom: 12px;
    width: 100%;
    padding: 20px 0;
    background-color: #777777;
    color: white;
    text-align: center;
}
